body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#giftBox{
  box-sizing: content-box;
  width: 20%;
  border: solid gray 2px;
  padding: 5px;
  margin: 5px;
  width: 30%;
  height: 30%;
  display: inline-block;
}

.button:hover{
    background-color: #4CAF50!important; /* Green */
  color: white!important;
}

.buttonDelete:hover{
    background-color: #E56565 !important; /* Green */
  color: white!important;

}
